@charset "utf-8";

table{width:100%; border-collapse:collapse; table-layout:auto; vertical-align:top; margin-bottom:15px;}
table thead th{color:#FFFFFF; background-color:#666666; border-collapse:collapse; text-align:center; table-layout:auto; vertical-align:middle;}
table tbody td{vertical-align:top; border-collapse:collapse; }
table thead th, table tbody td{padding:5px; border-collapse:collapse;}
table tbody tr.light{color:#666666; background-color:#F7F7F7;}
table tbody tr.dark{color:#666666; background-color:#E8E8E8;}

.table_data td{color: #02ACEE;}